@import url(table.css);
html {
    /*background-color: #00539F;*/
    font-family: "Open Sans", sans-serif;
}

div {
    position: relative;
    /*   float: left; */
    padding: 10px;
    margin: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

.alt {
    /*background-color: antiquewhite;*/
    background-color: gainsboro;
}

.boxes {
    width: 32.5%;
    padding-top: 10px;
}


/* All the Semantic items are stored here */

header {
    position: relative;
    size: 100%;
    height: auto;
    margin: auto;
    padding: 15px;
    background-color: #e0e8e7;
    /*background-color: rgba(147, 194, 191, 1);*/
}

main {
    /*font-family: "Segoe UI", "Calibri", "Arial", "sans-serif"
    margin: 0 auto;
    background-color: #FF9500;*/
    padding: 20px;
    border: 2px solid black;
    width: auto;
    overflow: auto;
}

#box {
    position: relative;
    float: left;
    width: 81%;
    height: 150px;
    border-right: dotted thin;
    padding: 5px;
    margin: auto;
}

footer {
    font-size: small;
    position: absolute;
    top: 93%;
    left: 28%;
}

section {
    position: relative;
    float: left;
    border: black thin dotted;
}


/*-----Semantics------/


/*------------- Navigational Elements ------------*/

nav {
    position: relative;
    float: left;
    width: 20%;
    min-height: 75%;
}

.floatfigure {
    float: left;
    margin: 0;
    padding: 0;
}

.navsidebar {
    float: left;
    border-right: thin black solid;
    font-size: 16px;
    padding-right: 15px;
    width: 12%;
    min-height: 75%;
}


/*--------- Navigational Elements -----------*/


/*-------- Hyperlink Styles-----------*/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*-------- Hyperlink Styles-----------*/


/*-------- Text formating section ----*/

h1 {
    margin: 0;
    padding: 20px, 0;
    /*color: #00539F;*/
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

h2 {
    margin: 0px;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    list-style: none;
}

.centered {
    text-align: center;
}

.title {
    font-weight: bold;
    color: #7fc3e1;
    /*color: #697681;*/
    text-decoration: underline;
    margin: 5px;
}


/*-------- Text formating section ----*/


/*-------- Image formating section ----*/

.main-image {
    width: 150px;
    height: 150px;
}

.head-image {
    float: left;
    width: 60px;
    height: 60px;
}