/* HTML Elements go here */
body {
	font-family: "Segoe UI", "Calibri", Arial, sans-serif;
	}
	
div {
	border: solid thin;
	width: 300px;
	padding: 8px;
	border-radius: 4px;
	background-color: #c0e5ff;}
	
img {
	border: solid thin;
	margin: auto;
	display: block;
	width: 298px;
	padding: 0;
	border-radius: 4px;
	}
	
span {
	font-weight: bold;
	padding: 2px;
	}

li {
	list-style: none;
	}

ul {
	padding: 4px;
	}
	
h3 {
	padding-left: 4px;
    margin-top: 9px;
    margin-bottom: 12px;
	}
	
p {
	margin-top: 5px;
	margin-bottom:5px;
	}
	
/* ID definitions */

#box {
	width: 282px;
	margin: auto;
	margin-top: 8px;
	padding: 8px;
	margin-bottom: 0;
	border-radius: 4px;
	font-size: 14px;
	background-color: #ffc800;
	}
	
/* Class definitions go here */
.slant {
	font-style: italic;
	}
	
.shadow {
	box-shadow: 5px 5px 5px #ddd;
}