table,
th,
td,
tr {
    border: thin black solid;
}

th {
    background-color: darkturquoise;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

.pixel {
    height: 20px;
    width: 20px;
}


/*td.pixel {
    
}*/