.rndbox {

   background:#eef3f5;
/* 
  width:300px;
 
  font:0.8em Verdana, Arial, Helvetica, sans-serif;
 
  color:#000033; */
   
}


.rndtop {

   z-index:2;
   position:relative;
   background:url(topright.gif) no-repeat right top;
   
}


.rndbottom {
   z-index:2;
   position:relative;
 
  background:url(bottomright.gif) no-repeat right top;

   }


.rndbottom img {
 
  display:block;
   
}


