p {
   font-size:12pt;
   }

table {
   table-width:100%;
   background-color:#fff;
   border-style:none;
   border-width:0;
   }

caption {
   font-weight:bold;
   text-align:left;
   border-style:none;
   border-width:0;
   }

th {
   height:50px;
   font-size:18pt;
   font-weight:bold;
   text-align:center;
   background-color:#fff;
   }

td {
   text-align:left;
   background-color:#fff;
   }

td, th {
   padding:5px;
   }